<button mat-button (click)="openDialog()" style="font-size:10px; color:rgb(2, 216, 216)" >via beyondlogical.com</button>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="icon-image"></div>
    <mat-card-title>{{description}}</mat-card-title>
    <mat-card-subtitle>{{date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="db.length > 0" [src]="myImg()" alt="kids skatin peir village" id="card" crossorigin="anonymous" >
  <mat-card-content>
    <p>
      <p [innerHTML]="comment">
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>CHAT</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
  <div id="miniScroll" class="myWorkContent" *ngIf="getShowcaseForMiniThumbnail().length > 0">
    <img *ngFor="let card of getShowcaseForMiniThumbnail(); let i = index;"
      src="{{db[0][i].url}}" height="75" (click)="updateImg(i)"
      style="margin:0 4px;" [ngStyle]="{border:currentImageName(card)?'solid 4px orange':'none'}" crossorigin="anonymous">
    </div>
</mat-card>
<br />
<div *ngIf="db.length > 0">
{{activeType}}
  <div >
    <img *ngFor="let card of db[0]; let i = index;" src="{{db[0][i].url}}" height="100" (click)="updateImg(i)"
      style="margin:0 4px;" crossorigin="anonymous">
  </div>
</div>
  
