<mat-toolbar color="primary">

  <button mat-menu-item class="toolbarMenuItem">
    <a style="text-decoration: none; color: rgba(0,0,0,.87);" routerLink="/home" routerLinkActive="active">
      <mat-icon class="matIcon menuBtn" svgIcon="home" >Home</mat-icon>
    </a>
  </button>

  <button mat-menu-item class="toolbarMenuItem">
    <a style="text-decoration: none; color: rgba(0,0,0,.87);" routerLink="/upload" routerLinkActive="active">
      <mat-icon svgIcon="upload" class="menuBtn">Upload</mat-icon>

    </a>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-menu-item class="userAccountMenuItem" >
    <mat-icon svgIcon="account" style="height:100% !important; width:34px !important;" (click)="openAccount()" >Account</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<div [@routerAnimation]="getRouteAnimation(route)">
  <router-outlet #route="outlet"></router-outlet>
</div>
{{ message | async | json }}
