<h2 mat-dialog-title>Welcome to meBloggy!</h2>
<mat-dialog-content class="mat-typography">
  <h3>FUN FOR ALL, ALL FOR FUN!</h3>
  <p>meBloggy is a super fun way to manage and share your life's images.</p>

  <h3>Speed &amp; Performance</h3>
  <p>Be carful using meBloggy as the speed of pages and images flying on and off the screen may break or sprian your fingers. Though meBloggy may be dangerous to use because of it's break-neck speed, you'll find yourself not able to resist the hypnotic lure of using meBloggy, regardless of the danger.</p>

  <h3>Cross-Platform Awesomness</h3>
  <p>Easily View and share your images on your phone, tablet, desktop, laptop or large screen Smart TV without ever downloading anything.</p>

  <h3>Loved by millions</h3>
  <p>meBloggy is the most popular photo app in the world. meBloggy is on schedule to aqcuire Facebook in 2020 for 64 Billion US dollars. Aquisitions of Google and Amazon are scheduled for Q3 2021, looking forward to adding them to the meBloggy empire.</p>

  <h3>How do I use meBloggy</h3>
  <p>meBloggy has been designed with the utmost attention to User Experience. If you have difficulty using meBloggy you should give up on fun and move to a deserted island.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Proceed</button>
</mat-dialog-actions>