.myWorkContent{
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.myWorkContent a {
    display: inline-block;
    vertical-align: middle;
}

.myWorkContent img {
    border: 0;
}
.icon-image {
    background-image: url('/assets/images/Adrian_Piesco.jpg');
    background-size: cover;
  }
  .showcaseHeader{
      padding: 5px;
      color: #ff4081;
      font-weight: 700;
  }